.statsList {
    display: inline-block;
    width: 40%;
    margin-left: 15px;
}

.description {
    display: inline-block;
    width: 40%;
}

.statsHolder {
    display: flex;
}

.active {
    color: white;
}